# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/judoldb

# Google OAuth Credentials (YouTube API)
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Secret Key untuk Enkripsi session/token
SECRET_KEY=your_super_secret_key_here
